# Performance test results with 20 todos initially added

Brief description of the used server: HTTP/1.1

Brief description of local machine used: MacBook Pro, Processor: 2,2 GHz 6-Core Intel Core i7, Memory: 16 GB 2400 MHz DDR4

## No Redis Caching

### Retrieving todos

http_reqs: 11359

http_req_duration - median: 8.69ms

http_req_duration - 99th percentile: 26.23ms

## Reflection

Test results to be referenced in https://github.com/aiotrope/limerence project assignment.